caption{
  background-color: orange;
  color: black;
  font-family: helvetica;
  font-weight: bold;
  border: solid 1pt black;
}

p {
  background-color: orange;
  border: solid 1pt black;
  margin-top: 0;
  width: 100%;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
}

table{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

 tr td:nth-child(1){
  background-color: black;
  color: white;
  font-family: helvetica;
  font-weight: bold;
}

th {
  background-color: black;
  color: white;
  font-family: helvetica;
  font-weight: bold;
}

td{
  background-color: #efefef;
  color: #686868;
  font-family: helvetica;
  border: solid 1pt #8e8d8d;
}
